<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <!--  属性就可以在整个配置文件中使用来替换需要动态配置的属性值 -->
       <properties resource="jdbc.properties"> </properties>
    <environments default="development">      
        <environment id="development">
            <transactionManager type="JDBC" />
            <!-- 配置数据库连接信息 -->
            <dataSource type="POOLED">
                
               <!--<property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/ssm?useUnicode=true&amp;characterEncoding=UTF-8" />
                <property name="username" value="root" />
                <property name="password" value="root" /> -->
                
                <property name="driver" value="${driver}"/>
  				<property name="url" value="${url}"/>
  				<property name="username" value="${username}"/>
  				<property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
      <mappers>
   <!--      <mapper resource="com/yqh/test/UserMap.xml"/> -->
        <mapper class="com.yqh.test2.UserMap"/>  
      </mappers>
    
</configuration>